body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.admin{
    background-color: rgb(43, 115, 138);
    width: 45em;
    margin-bottom: -70px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}
body .conteiner{
    background-color: rgb(240, 240, 240);
    padding: 5em;
    width: 40%;
    margin-top: 5em;
    border-radius: 10px;
}
.conteiner h3{
    text-align: center;
    color: #000;
    font-size: 16pt;
}
body .conteiner div{
    margin: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 400px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 5px;
}
input[type=submit]{
    background-color: rgb(68, 224, 68);
    color: #fff;
    font-size: 14pt;
}
input[type=submit]:hover{
    cursor: pointer;
    background-color: rgb(81, 211, 81);

}
input[type=file]{
    border: none;
}

.verprodutos a{
    color: #000;
    text-decoration: none;
    font-size: 14pt;
}
.verprodutos a:hover{
    color: rgb(49, 49, 49);
}